body {
font-size: 12pt;
max-width: 650px;
min-width: 350px;
margin-left: auto;
margin-right: auto;
}

h1 {font-size: 23pt;
margin-bottom: 0px;
margin-top: 0px;
font-style: normal;
}

h2 {
font-size: 12pt;
margin-bottom: 0px;
margin-top: 0px;
font-style: normal;
}

h5 {
  font-size: 14pt;
  margin-bottom: 0px;
  font-style: normal;
}

li,u,p {
  font-size: 12pt;
  font-style: normal;
}

q {
  font-style: italic;}

button {
  width: 100%;
}

.controlButton {
  background-color: rgb(195,235,244);
  border-radius: 5px;
  padding: 7px;
  width: auto;
}

#foldOutFoldIn {
  position: absolute;
  right: 0px;
}

.kategori
{
  background-color: rgb(126,230,255);
  border-radius: 5px;
  padding: 7px;
}

.recipe {
  background-color: rgb(205,248,255);
  border-radius: 5px;
  padding: 7px;}

.ingredienser {
  background-color: rgb(223,244,244);
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.howto {
  background-color: rgb(237,255,255);
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 34px;
}

.antal {
  text-align: center;
  margin-top: 2px;
}

.slut {
  background-color: rgb(195,235,244);
  border-radius: 5px;
  padding: 7px;
  width: auto;
  float: right
}

/*.kategori{background-color: bisque;border-radius: 5px;}
.recipe{background-color: rgb(220,150,100);border-radius: 5px;}
.ingredienser{background-color: antiquewhite;border-radius: 5px;}
.howto{background-color: peachpuff;border-radius: 5px;}*/
